body {
  font-family: "Lato", sans-serif;
  background-color: #3A4F7A;
  margin: 0;
  padding: 0;
}

h1 {
  color: #D0DEFA;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
  font-weight: 900;
}

h2 {
  font-size: 1rem;
}

div {
  padding: 20px;
}

img {
  
  
  max-height: 100px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  
  
}

li {

  padding: 5px;
  background-color: #d0defa;
  width: 200px;
  color: #3A4F7A;
  border-radius: 2px;
}

#close {
  border: none;
  background-color: #3A4F7A;
  height: 30px;
  border-radius: 2px;
  font-size: 1rem;
  color: #d0defa;
  position: relative;
  top: 80px;

}

button:hover {
  opacity: 50%;
}


.hidden {
display: none;
}


#caja {
  width: 400px;
  height: 220px;
  background-color: #d0defa;
  display: flex;
  border:3px solid #3A4F7A;
  border-radius: 2px;
  
  position: absolute;
  top: 33%;
  left: 33%;
  z-index: 1; 
}

#caja img {
object-fit: contain;
}

#izq {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width:60%;
}



#close {
  width: 50px;
}
#der {
  width: 40%;
}

#ulPaisIndividual {
  padding: 0px;
  font-size: 1rem;
}

.liPaisIndividual {
  font-size: 0.8rem;
  margin-bottom: -10px;
  background-color: none;
}

.liPaisIndividual:first-child {
  font-size: 1.3rem;
  font-weight: 700;
}

.liDOM:hover {
  opacity: 50%;
  
}